<a class="btn btn-primary mb-5" routerLink="/products/add"> Add Product </a>

<div class="row" *ngIf="products; else loader">
  <div class="col-md-3" *ngFor="let product of products">
      <app-product [product]="product" (onProductDelete)="deleteProduct($event)" ></app-product>
  </div>
</div>

<div class="row" *ngIf="err">
  <div class="alert alert-danger">
    Failed to get products
  </div>
</div>

<ng-template #loader>
  <div class="row text-center p-5" >
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

</ng-template>


