<article>
  <h3>
      The life of Adam
  </h3>
  <img src="https://picsum.photos/200/200" alt="...">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati facilis vel esse dicta iste
      asperiores, sit recusandae quae nemo consectetur?</p>
  <a href="#!">Read More</a>
</article>
<article>
  <h3> Interview with Nicholas</h3>
  <img src="https://picsum.photos/200/200" alt="...">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic provident minima dicta mollitia quos
      dolor veniam dolore distinctio illum eveniet.</p>
  <a href="#!">Read More</a>
</article>
<article>
  <h3> Mircea quits bass</h3>
  <img src="https://picsum.photos/200/200" alt="...">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex minus excepturi doloremque nisi
      dignissimos ipsum laboriosam rerum reprehenderit culpa voluptatibus?</p>
  <a href="#!">Read More</a>
</article>
