/* Header style */

header{
    width:100%;
    text-align:center;
    padding:30px;
    background-color: brown; /*rgb(255,0,0) #ff0000*/ 
    color:white  
}

nav{
    background-color: black;
    display:flex;
}

nav a{
    background-color: chocolate;
    flex:1;
    text-decoration: none;
    color:white;
    padding:20px;
    text-align: center;
}


nav a:hover{
    background-color: coral;
}

/*Body Style*/
main{
    background-color:#e7e7e7;
    padding:20px;
    display:flex;
}

section{
    flex:3;
    display:flex;

}

article{
    margin-right:20px;
    flex:1
}

article img{
    width:100%;
}

aside{
    flex:1;
}

/* h1, h2{
    color:white;    
} */

#id{

}

.class{

}

