
    <app-carousel [items]="carouselItems"></app-carousel>    
    <app-alert message="Alert1" alertType="info" icon="fa fa-home"></app-alert>
    <app-alert [message]="test" alertType="warning" ></app-alert>

    <app-progress [percentage]="pizzaPercentage"></app-progress>
   

  

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Free</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ pie</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 peperoni slices </li>
              <li>Extra thin crust</li>
              <li>No seasoning</li>
              <li>It sucks.. but it's free</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Buy .. for free</button>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Marguerita</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ pie</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 peperoni slices</li>
              <li>Some crust</li>
              <li>Some green stuff</li>
              <li>Eatable</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-warning">Get it while it's hot</button>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">IN211 Pizza</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ pie</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>peperoni and jambon</li>
              <li>Cheesy crust</li>
              <li>All the toppings</li>
              <li>Delicious</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-danger">Not pizza but investment</button>
          </div>
        </div>
      </div>
    

    </div>    


<div class="container">
  <div class="row">

    <div class="album py-3 bg-light col-sm-9">
      <div class="container">
        <div class="row">
          <div class="col-md-4" *ngFor="let pizza of pizzas">
            <app-product [product]="pizza" ></app-product>   
          </div>
         

        </div>
      </div>
    </div>

  

  <div class="col-sm-3 order-md-2 mb-4">
    <app-cart></app-cart>
  </div>
</div>

</div>
<div class="container mt-4">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
</div>
