
/* we used a fixed top navbar -> has a position fixed, therefor the body will come under the navbar
 	to fix this we add a margin top of 60px to the body
 */
body{
	margin-top:60px;
}

/* align the sidebar content to the center */
#sidebar-content{
	text-align:center;
	width:250px;
	background: #ffedd8;
	padding:20px 0;
}

/* add padding and full width to the .image class in the sidebar */
#sidebar-content .image{
    width: 100%;
    padding: 10px;
    margin: 10px 0 10px 0;
}

/* target the ul with the class list-group(bootstrap class) inside the element with the id `sidebar-content` */
#sidebar-content ul.list-group{
	text-align:left;
}

/* target li with class `list-group-item` inside ul with class `list-group` inside div with id `sidebar-content` */
#sidebar-content ul.list-group li.list-group-item{
	border: none;
	padding:10px;
}

/* target the h1's inside div with id of #sidebar-content */
#sidebar-content h1{
	font-size:2em;
	color:orange;
	margin:none;
	text-shadow: 1px 1px 1px white
}

/* target element with id of `person-title` */
#person-title{
	background:#000;
	padding:4px;
	border-radius:10px;
	color:#fff;
	font-size:0.9em;
}

/* Carousel */
#carousel-example-generic{
	margin-top:20px;
}

/* Make the carousel to have a height of 300px */
.carousel-inner{
	height:300px;
}

/* Target the img children of children .item inside elements with class of carousel-inner */
.carousel-inner > .item > img {
	width:100%;
}

/* Sections */

/* we scroll to each section, to be able to see the tile of the section we add a top padding */
section{
	padding-top:30px;
}

/* target first letter of h2's inside elements of type section */
section h2:first-letter{
	color:orange;
}

/* overwrite bootstrap class of thumbnail -> NEVER modify bootstrap classes directly. 
In our case we cannot do that anyway because we use bootstrap from CDN
*/
.thumbnail{
	min-height:480px;
}

/* target element with id of `about-me` */
#about-me{
	opacity:0.7; /*lowers opacity to 70% . Opacity is between 0 and 1*/ 
	background-image: url('https://picsum.photos/g/300/200/?img=1234');	
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;
	padding:20px;    
}

/* we can target multiple properties at once so we avoid rewriting the code */
#about-me h2, #about-me p{
	color:black;
	opacity:1;
}

.item-service{
	background:#f3f3f3;
	border-radius:15px; /*makes the borders rounder*/
	text-align:center;
	padding:15px;
}

/* target icons inside elements with class .item-service */
.item-service i {
	width:150px;
	height:150px;
	background: white;
    padding: 40px;
    border-radius: 100%;
}

/* target elements with class .item-service and p with class text-muted inside .item-service 
WHEN we hover the mouse over elements with class `item-service` */
.item-service:hover, .item-service:hover p.text-muted{
	background:orange;
	color:white;
}

/* tagets icons inside elements with class .item-service WHEN we hover over elements with this class */
.item-service:hover i {
	color:orange;
}

/* Overwrite bootstrap class .progress */
.progress{
	margin-bottom:5px;
}

/* timeline */
ul.timeline{
	list-style-type:none; /*we reset the list styling*/
}

/* target li's inside ul with class of timeline */
ul.timeline li{
    border-left: 2px solid orange;
    padding-left: 20px;
    margin-top:-20px;
}

/* target FIRST li inside ul with class of `timeline` */
ul.timeline li:first-child{
	border-left:none;
	margin-bottom:35px;
}

/* target the content IMEDIATELY before items with class `line-title` */
.line-title::before{
	content:"\2192";
	font-weight: 800;
	color:orange;
	margin-left:-20px;
	margin-right:20px;
}


.timeline-header{
	float:left;
	width: 50px;
    border-radius: 50px;
    height: 50px;
    background: orange;
    display: flex; /*container will flex*/
    align-items: center;/*flexing items inside will be pulled to the center*/
    justify-content: center;/*content will try to stretch to the margins*/
    color:white;
}

.line-title{
	color:orange;
}


/* Spacing */

.space-10{
	width:100%;
	clear:both;
	height:10px;
}

.space-20{
	width:100%;
	clear:both;
	height:20px;
}

.space-50{
	width:100%;
	clear:both;
	height:50px;
}

.flex-container-center{
	display:flex;
	align-items: center;
	justify-content: center;

}

footer{
	padding:15px;
	background-color:black;
	width:100%;
	display: flex;
	color:white;
	align-items: center;
	justify-content: center;
	border-radius:10px;	
}




