<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h1>{{pizza.name}}</h1>
            <p>
                <img src="{{pizza.image}}">
                
            </p>
            <p>
                Description: {{pizza.description}}
            </p>
            <p>
                Price: <strong>{{pizza.price | currency:"EUR"}}</strong>
                <span *ngIf="pizza.sale" class="badge badge-warning"><i class="fas fa-tag"></i> Sale</span>
            </p>
            <p>
                <a class="btn btn-sm btn-info text-white"
                    (click)="addToCart()"
                ><i class="fas fa-cart-plus "></i> Add to Cart</a>
            </p>
        </div>
        <div class="col-md-3">


                <!-- Show the cart later -->
                <app-cart></app-cart>

        </div>
    </div>
</div>
