<div class="container well well-sm text-center mb-4">
    <h2>Your pizza status</h2>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>{{message}}</p>

    <div class="progress">
      <div [class]="{
          'progress-bar': true,
          'progress-bar-striped': true,
          'progress-bar-animated': true,
          'bg-warning': percentage !== 100,
          'bg-success': percentage === 100
      }" 
      role="progressbar" 
      style="width: {{percentage}}%" 
      aria-valuenow="percentage" 
      aria-valuemin="0" 
      aria-valuemax="100">
        {{percentage}}%
    </div>
    </div>
   
    <hr class="my-4">
     <!-- Button trigger modal -->
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
      Click here to order via modal
    </button>

  </div>