<header>
  <h1>Ensta Music School</h1>
  <h2>Best music school for gifted kids</h2>
</header>

<nav>
  <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
  <a routerLink="about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About</a>
  <a routerLink="classes" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Classes</a>
  <a routerLink="contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contact</a>
</nav>
